body {
    color: white;
    background: rgba(166, 34, 243, 0.767);
    margin: 0px;
}

    header {
        border-bottom: solid 2px rgb(228, 236, 247);
        padding: 20px;
        font-size: 32px;
        color: rgb(234, 243, 255);
    }
    
    section {
        background: rgb(189, 130, 253);
        padding-bottom: 80px;
        padding-top: 80px;
    }